---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import BlogPosts from '../components/BlogPosts.astro';
---

<Layout title="RECURSIFY - DSA Made Simple">
  <Navbar />
  <main>
    <Hero />
    <BlogPosts />
  </main>
</Layout>